<div class="team">
  <div>{{ team.name }} - {{ team.country }}</div>
  <app-add-player (addPlayer)="addPlayer($event)"></app-add-player>
  <div class="player-list" *ngIf="players.length">
    <ng-container *ngFor="let position of playerPositions">
      <app-player-list
        *ngIf="groupedPlayers[position]"
        [position]="position"
        [players]="groupedPlayers[position]"
        (deletePlayer)="deletePlayer($event)"
      ></app-player-list>
    </ng-container>
    <app-player-list
      *ngIf="substitutePlayers"
      [position]="substitute"
      [players]="substitutePlayers"
      (deletePlayer)="deletePlayer($event)"
    ></app-player-list>
  </div>
</div>
